---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a,b) => +new Date(b.data.date) - +new Date(a.data.date));
---
<BaseLayout title="Blog | Canvas Docente">
  <Fragment slot="header"><Header /></Fragment>
  <h1 class="text-2xl font-semibold mb-6">Blog</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {posts.map((post) => <BlogCard post={post} />)}
  </div>
</BaseLayout>
