---
import { Image } from 'astro:assets';
import pintura from "../assets/images/pintura.jpg";
import collage from "../assets/images/collage-arte-colaborativo-2007.jpg";
import audiovisual from "../assets/images/audiovisual-taller-cine-2018.jpg";
import mosaico from "../assets/images/mosaico.jpg";
import volumen from "../assets/images/volumen.jpg";
import mascaras from "../assets/images/mascara.jpg";
import lamparas from "../assets/images/lamparas-tecnologia-y-artes-visuales-2019.jpg";
import diseno from "../assets/images/diseño-ambiente-escena-ideal-2019.jpg";
import dibujo from "../assets/images/dibujo-actividad-clase-artes-visuales-2018.jpg";

const techniques = [
  { name: 'Pintura', img: pintura },
  { name: 'Collage', img: collage },
  { name: 'Audiovisual', img: audiovisual },
  { name: 'Mosaico', img: mosaico },
  { name: 'Volumen', img: volumen },
  { name: 'Máscaras', img: mascaras },
  { name: 'Lámparas', img: lamparas },
  { name: 'Diseño', img: diseno },
  { name: 'Dibujo', img: dibujo },
];
---
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
  {techniques.map((t) => (
    <a href={`/galeria/tecnica/${encodeURIComponent(t.name)}`} class="group block overflow-hidden rounded-lg border border-slate-200 hover:shadow-md transition">
      <Image src={t.img} alt={`Galería de ${t.name} - proyectos artísticos de estudiantes`} class="aspect-[4/3] w-full object-cover group-hover:scale-[1.02] transition" />
      <div class="p-3">
        <h3 class="font-medium">{t.name}</h3>
      </div>
    </a>
  ))}
</div>
